@import "~font-awesome/less/font-awesome.less";

body {
  margin: 0;
}

.container {
  width: 436px;
  padding: 8px;
}

.container-button {
  text-align: right;

  .el-button + .el-button {
    margin-left: 0;
  }
}

.list-item {
  //& + & {
  //  margin-top: 6px;
  //}

  .list-content {
    line-height: 27px;

    & .el-col {
      padding: 0 5px;
      line-height: initial;

      &.list-content-text {
        line-height: inherit;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & .el-tag {
        display: inline-block;
        width: 100%;

        text-align: center;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        cursor: default;
      }
    }
  }
  .el-button:not(:active):not(:visited):not(:hover) {
    border: 1px solid transparent;
  }
}

.list-item-edit {
  margin: 3px 0 6px;

  .el-select {
    width: 160px;
  }

  .el-input {
    & + .el-input {
      margin-top: -1px;
    }

    &.mul-append .el-input-group__append {
      padding: 0;

      & .el-button {
        display: inline-block;
        width: 36px;
        height: 34px;
        margin: 0;

        //&:not(:active):not(:visited):not(:hover), &:active, &:visited, &:hover {
        //  border: 0;
        //}
        &:hover {
          background-color: #e5eff2;
        }
        & + .el-button {
          border-left: 1px solid #bfcbd9;
        }
        &:not(:last-of-type) {
          border-radius: 0;
        }
      }
    }

    & > input, & > .el-input-group__append {
      border-radius: 0;
    }

    &:first-of-type {
      & > input {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      & > .el-input-group__append {
        border-top-right-radius: 4px;
      }
    }
    &:last-of-type {
      & > input {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      & > .el-input-group__append {
        border-bottom-right-radius: 4px;
      }
    }
  }

  .el-input-group--append {
    &:first-of-type > input {
      border-top-right-radius: 0;
    }
    &:last-of-type > input {
      border-bottom-right-radius: 0;
    }
  }
}